body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #003300;

}

h1 {
    text-align: center;
    margin-top: 20px;
    color: white;
}

.plant-type-buttons {
    text-align: center;
    margin-top: 40px;
}

.plant-type-buttons button {
    padding: 15px 20px;
    margin: 25px;
    background-color: #16692c;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.plant-type-buttons button:hover {
    background-color: green;
}

#vegetableList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.vegetable-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #e8e4c9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.vegetable-card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.vegetable-card img {
    width: 100%;
    border-radius: 5px;
}

.vegetable-name {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.vegetable-details {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.vegetable-description {
    color: #555;
}

.care-tips {
    margin-top: 10px;
    font-style: italic;
    color: #777;
}

.hidden {
    display: none;
}


#Logo{
    text-align: center;
    padding-top:10px ;
}